# CREATION DB

In [2]:
# import
import random
import pandas as pd
import numpy as np
from passlib.hash import argon2

from sqlalchemy import Column, Integer, String, Boolean, DateTime, ForeignKey, create_engine, Table
from sqlalchemy.orm import relationship, declarative_base, sessionmaker
from sqlalchemy.sql import func

In [3]:
# Creation structure de base
Base = declarative_base()

In [4]:
#Class Sitation
class Quote(Base):
    __tablename__ = "quotes"
    quote_id = Column(Integer, primary_key=True)
    quote_text = Column(String)

In [ ]:
# Initialisation
engine = create_engine("sqlite:///../data/DB_Citation.db")
SesseonLocal = sessionmaker(bind=engine)
Base.metadata.create_all(engine)

In [6]:
# Utilisation
Session = sessionmaker(bind=engine)
session = Session()

In [12]:
# Ramplir Citation
Nb_quote = 15

# Generation des citations
SUBJECTS = ["La vie", "Le courage", "L'esprit", "La chance", "Le travail", "L'avenir"]
VERBS = ["est", "devient", "reste", "semble", "demeure"]
COMPLEMENTS = [
    "un mystère à explorer",
    "une force inépuisable",
    "une porte vers le changement",
    "une aventure sans fin",
    "un défi qui nous construit"
]

def generate_quote():
    return f"{random.choice(SUBJECTS)} {random.choice(VERBS)} {random.choice(COMPLEMENTS)}."

for i in range(Nb_quote):
    obj = Quote(quote_text=generate_quote())
    session.add(obj)

session.commit()

In [15]:
# Lire le DB
query = session.query(Quote)
df = pd.read_sql(query.statement, session.bind, index_col="quote_id")
df

                                              quote_text
quote_id
1                    L'avenir est une force inépuisable.
2                    L'esprit est un mystère à explorer.
3                 L'esprit semble une aventure sans fin.
4                L'avenir devient une force inépuisable.
5                  Le courage est une aventure sans fin.
6            L'esprit semble un défi qui nous construit.
7          L'avenir semble une porte vers le changement.
8                L'esprit devient une aventure sans fin.
9            L'esprit semble un défi qui nous construit.
10                     La vie est un mystère à explorer.
11            Le travail est un défi qui nous construit.
12                 Le travail est une aventure sans fin.
13        L'avenir demeure une porte vers le changement.
14             Le travail demeure une force inépuisable.
15               Le courage reste une force inépuisable.

In [16]:
# Fermer le session
session.close()
engine.dispose()